.header {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: right;
    text-decoration: underline;
    text-decoration: none;
}

h2 {
    background-color: white;
    color: black;
    text-align: center;
    font-size: medium;
    padding: 2%;
}


