.header {
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

nav {
    color: darkblue;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: right;
    text-decoration: none;
    
}

h2 {
    background-color: white;
    color: black;
    text-align: center;
    font-size: larger;
    padding: 2%;
}

img {
    width: 100%;
    aspect-ratio: 16/9;
}

h3 {
    color: black;
    background-color: white;
    padding: 8%;
    text-align: center;
    font-size: large;

}

h4 {
    color: silver;
    text-align: center;
}
